<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fox Club</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/nutrition.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<a href="/?name="> Information</a>
<h1> Welcome to the Nutrition Store </h1>
<p th:text="'Here you can change ' + ${fox.getName()} + '\'s diet' ">

<ul>
    <li><a th:href="'/?name='+${fox.getName()}">Information</a></li>
    <li><a th:href="'/nutrition&name='+${fox.getName()}">Nutrition Store</a></li>
    <li><a th:href="'/trickcenter&name='+${fox.getName()}">Trick Center</a></li>
</ul>

<form action="/nutrition&name=" method="post">
    <label for="Food">Food</label>
    <select id="Food" name="food">
        <option th:text="${fox.getFood()}" autofocus></option>
        <option value="pizza">pizza</option>
        <option value="korean egg roll">korean egg roll</option>
        <option value="banana">banana</option>
        <option value="chips">chips</option>
        <option value="soba noodles">soba noodles</option>
        <option value="spicy chicken wings">spicy chicken wings</option>
        <option value="apple">apple</option>
    </select>
    <label for="Drink">Drink</label>
    <select id="Drink" name="drink">
        <option th:text="${fox.getDrink()}" autofocus></option>
        <option value="water">water</option>
        <option value="matcha tea">matcha tea</option>
        <option value="7up">7up</option>
        <option value="zero hell">zero hell</option>
        <option value="zero coke">zero coke</option>
    </select>
    <input type="submit" value="Change">
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>