nav {
    background-color: #333333;
    height: 60px;
    padding: 20px;
}

div {
    background-image: url("assets/topography.png");
    padding-left: 10%;
    padding-right: 10%;
}

li {
    display: inline;
}

.nav-link {
    color: #ff0099;
    float: right;
    margin-left: 40px;
}

h2 {
    color: #ff0099;
    font-family: 'Balsamiq Sans', cursive;
}

p,
h3 {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

h4 {
    font-size: 20px;
}