*{
    background-color: whitesmoke;
}

body {
    padding: 5px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    width: 140px;
}

h1 {
    color: darkcyan;
    width: 250px;
    margin-bottom: 0px;
}

.line {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkcyan;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.buttons *:nth-child(n+1):nth-child(-n+4) {
    margin-right: 5px;
}

.buttons * {
    background-color: darkcyan;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    min-height: 30px;
    height: auto;
    color: white;
    width: 20%;
}

.searchBar {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
   }

.searchBar * {
    height: 100%;
    padding: 0;
    color: darkcyan;
}

.searchBar input {
    width: 80%;
    margin-right: 5px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    box-sizing: border-box;
    color: darkcyan;
}

.searchBar button {
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}

label {
    font-size: 15px;
    color: darkcyan;
}

table {
    margin-top: 20px;
    width: 100%;
}

th {
    background-color: lightslategray;
    height: 70px;
    color: white;
}

td {
    height: 70px;
    padding: 20px;
    color: darkcyan;
    font-weight: bolder;
}

td:nth-child(n+3) {
    text-align: center;
}

p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 26px;
}

